.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url('../img/world-map-dots.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    .slick-list {
        min-height: 635px;
        overflow: visible;
    }
    .slick-current {
        .slider-dots__content {
            display: block;
            width: 285px;
            padding: 28px 31px 0px 32px;
        }
    }
}

