.subtitle {
    display: inline-block;
    text-align: right;
    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
}