.sufboard {
    position: relative;
    &-box {
        position: absolute;
        &__circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            cursor: pointer;
            &.active {
                & + .sufboard-box__content {
                    display: block;
                }
                .circle-row {
                    transform: translate(-50%, -50%) rotate(0deg); 
                }
            }
        }
        &__content {
            display: none;
            position: absolute;
            width: 359px;
            font-weight: 800;
            font-size: 24px;
            line-height: 24px;
            padding-left: 104px;
            top: -15px;
            left: 40px;
            &::before {
                content: "";
                position: absolute;
                width: 80px;
                height: 1px;
                background-color: #fff;
                left: 0;
                top: 50%;
            }
        }
    }
}

.sufboard__position--1{
    right: 40px;
    top: 215px;
}
.sufboard__position--2{
    left: -6px;
    top: 313px;
}
.sufboard__position--3{
    left: 52px;
    bottom: 70px;
    .sufboard-box__content {
        padding-left: 0;
        padding-right: 104px;
        top: -15px;
        left: -395px;
        &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            right: 0;
            left: auto;
            top: 50%;
        }
    }
}

.circle-row {
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    & + .circle-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}